<div *ngIf="item">
  <div class="itemDetail">
    <div class="{{getSafe()}}">
      <div *ngIf="item.itemDetail.safe == 'Yes'" [@slideIn]>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
        <circle class="path circle" fill="none" stroke="#5fad56" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
        <polyline class="path check" fill="none" stroke="#5fad56" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
       </svg>
      </div>
      <div *ngIf="item.itemDetail.safe == 'No'" [@slideIn]>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
          <circle class="path circle" fill="none" stroke="#e63946" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
          <line class="path line" fill="none" stroke="#e63946" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3"/>
          <line class="path line" fill="none" stroke="#e63946" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2"/>
        </svg>
      </div>
      <div *ngIf="item.itemDetail.safe == 'Maybe'" [@slideIn]>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
        <circle class="path circle" fill="none" stroke="#f2c14e" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
         <text x="44" y="95" fill="#f2c14e" style="font-size:90">?</text>
       </svg>
      </div>
      <div *ngIf="item.itemDetail.safe != 'Yes'">
      <div><span class="field">amount: </span>{{item.itemDetail.amount}} {{item.itemDetail.amountUnit}}</div>
      <div><span class="field">description: </span>{{item.itemDetail.description}}</div>
      <div *ngIf="item.itemDetail.reference"><div><span class="field">reference: </span>{{item.itemDetail.reference}}</div></div>
    </div>
    </div>
  </div>
</div>
